body {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* a {
  color: white;
} */

h6 {
  color: white;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
}

h6 {
  text-align: center;
  font-size: 65px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
}

.mybutton {
  display: flex;
  justify-content: space-around;
}

.taskinp {
  text-align: center;
}

.buttonBar {
  margin-right: 10px;
}

.hiddenDiv {
  display: none;
}

.shia {
  text-align: center;
}

.profileHead {
  font-size: 80px;
}

.user {
  text-align: right;
  margin-right: 20px;
}

.user :hover {
  color: #76ead6;
}
.homePageButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.toonLink {
  color: white;
  text-decoration: none;
}
